.hero {
    background-color: var(--black);
    color: var(--bg);
    margin-top: 0;
    min-height: 100vh;
}

.hero__top {
    display: flex;
    justify-content: space-between;
    padding-top: vw(84);
    padding-bottom: vw(178);

    @media (max-width: $br1) {
        padding-top: 54px;
        padding-bottom: 52px;
    }

    @media (max-width: $br3) {
        flex-direction: column;
    }
}

.hero__desc {
    font-size: vw(16);
    line-height: 1em;
    max-width: vw(120);

    @media (max-width: $br1) {
        max-width: 120px;
    }
}

.hero__small-text {
    font-size: vw(16);
    line-height: 1em;

    @media (max-width: $br1) {
        font-size: 14px;
    }
}

.hero__h1 {
    position: relative;
    top: vw(-20);
    text-align: right;
    justify-self: end;
    font-size: vw(138);
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;

    @media (max-width: $br1) {
        font-size: 52px;
    }

    @media (max-width: $br3) {
        margin-top: 60px;
    }
}

.hero__uppercase-text {
    @include col(6, 8);
    max-width: vw(350);

    @media (max-width: $br1) {
        @include col(3, 9);
        max-width: 315px;
    }

    @media (max-width: $br3) {
        @include col(1, 9);
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.hero__bottom {
    @media (max-width: $br1) {
        padding-bottom: 60px;
    }
}

.upper-text {
    font-size: vw(16);
    line-height: 1.1em;
    text-transform: uppercase;
    margin-bottom: vw(70);

    @media (max-width: $br1) {
        font-size: 14px;
        margin-bottom: 52px;
    }
}

.hero__button {
    margin-bottom: vw(16);

    @media (max-width: $br1) {
        margin-bottom: 12px;
    }

    &:nth-child(2) {
        margin-bottom: 0;
    }
}

.hero__man {
    @include col(11, 12);
    justify-self: end;

    @media (max-width: $br3) {
        @include col(1, 12);
        justify-self: center;
        margin-top: 56px;
        max-height: 355px;
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.hero__scroll-down {
    display: flex;
    align-items: center;
    font-size: vw(14);
    position: relative;
    bottom: 14px;
    max-width: vw(250);

    @media (max-width: $br1) {
        display: none;
    }
}

.hero__scroll-text {
    margin-right: 6px;
}

.hero__amq-man {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
