.home-6 {
    background-color: var(--bg);
    color: var(--black);
}

.home-6__title {
    margin-bottom: vw(72);
    text-transform: uppercase;

    @media (max-width: $br1) {
        display: inline-block;
        flex-direction: column;
        margin-bottom: 34px;
    }
}

.home-6__big-text {
    font-size: vw(180);
    font-weight: 400;
    line-height: 1em;

    &:first-of-type {
        @include col(1, 5);
    }

    &:nth-of-type(2) {
        @include col(7, 12);
    }

    &:nth-of-type(3) {
        @include col(6, 12);
    }

    @media (max-width: $br1) {
        font-size: 48px;
    }
}

.home-6__item {
    &+.home-6__item {
        margin-top: vw(36);

        @media (max-width: $br1) {
            margin-top: 16px;
        }
    }
}

.home-6__item {
    &::before {
        content: "";
        display: block;
        width: 100%;
        background-color: var(--black);
        height: 2px;
        margin-bottom: vw(36);

        @media (max-width: $br1) {
            margin-bottom: 16px;
        }
    }

    &:last-child {
        &::after {
            content: "";
            display: block;
            width: 100%;
            background-color: var(--black);
            height: 2px;
            margin-top: vw(36);

            @media (max-width: $br1) {
                margin-top: 16px;
            }
        }
    }
}

.home-6__content {
    align-items: center;
}

.home-6__content-title {
    font-weight: 400;
    font-size: vw(32);
    line-height: 1em;
    @include col(1, 5);

    @media (max-width: $br1) {
        font-size: 28px;
    }

    @media (max-width: $br2) {
        @include col(1, 12);
        margin-bottom: 12px;
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.home-6__desc {
    font-size: vw(18);
    line-height: 1em;
    @include col(6, 10);

    @media (max-width: $br1) {
        font-size: 14px;
    }

    @media (max-width: $br2) {
        @include col(1, 12);
    }

    @media (max-width: $br3) {
        @include row(2, 2);
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.home-6__btns {
    margin-top: vw(104);

    @media (max-width: $br4) {
        margin-top: 32px;
    }
}

.home-6__button {
    &:first-of-type {
        @include col(6, 8);

        @media (max-width: $br1) {
            @include col(1, 4);
        }

        @media (max-width: $br3) {
            @include col(1, 12);
            margin-bottom: 16px;
        }

        @media (max-width: $br4) {
            @include col(1, 4);
        }
    }

    &:nth-of-type(2) {
        @include col(9, 12);

        @media (max-width: $br1) {
            @include col(5, 12);
        }

        @media (max-width: $br3) {
            @include row(2, 2);
            @include col(1, 12);
        }

        @media (max-width: $br4) {
            @include col(1, 4);
        }
    }
}

.home-6__graph {
    margin-top: vw(300);

    @media (max-width: $br1) {
        display: none;
    }
}