.home-5 {
    background-color: var(--black);
    color: var(--bg);
    padding-top: vw(120);
    padding-bottom: vw(254);

    @media (max-width: $br1) {
        padding-top: 52px;
        padding-bottom: 52px;
    }
}

.home-5__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home-5__wrapper-img {
    @media (max-width: $br1) {
        display: none;
    }
}

.home-5__img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.home-5__big-text {
    font-size: vw(180);
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;

    @media (max-width: $br1) {
        font-size: 48px;
        text-align: unset;
    }
}

.home-5__line {
    width: 100%;
    height: 2px;
    background-color: var(--bg);
}

.home-5__content-items {
    margin-top: vw(72);

    @media (max-width: $br1) {
        margin-top: 40px;
    }
}

.home-5__item + .home-5__item {
    margin-top: vw(72);

    @media (max-width: $br1) {
        margin-top: 32px;
    }
}

.home-5__content {
    margin-top: vw(26);

    @media (max-width: $br1) {
        margin-top: 16px;
    }
}

.home-5__medium-text {
    @include col(1, 4);
    font-weight: 400;
    font-size: vw(48);
    line-height: 1.1em;

    @media (max-width: $br1) {
        font-size: 32px;
    }

    @media (max-width: $br3) {
        margin-bottom: 12px;
        @include col(1, 12);
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.home-5__desc {
    @include col(6, 9);

    @media (max-width: $br1) {
        @include col(6, 12);
    }

    @media (max-width: $br3) {
        @include row(2, 2);
        @include col(1, 12);
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.home-5__about {
    font-size: vw(18);
    line-height: 1em;

    @media (max-width: $br1) {
        font-size: 14px;
    }

    @media (max-width: $br3) {
        line-height: 1.2em;
    }
}