.arrow-button {
    display: flex;
    font-size: vw(18);
    line-height: 100%;
    align-items: center;

    .arrow {
        transition: transform .4s ease;
        padding-left: 12px;
    }

    &:hover {
        .arrow {
            transform: translate(4px);
        }
    }

    >.text-button {
        border-bottom: 1px solid currentColor;
    }

    @media (max-width: $br1) {
        font-size: 16px;
    }
}
