.header {
    background-color: var(--black);
    color: var(--bg);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.header__content {
    height: vw(100);
    font-size: vw(18);
    line-height: 1em;
    justify-content: center;
    align-items: center;

    @media (max-width: $br1) {
        height: 65px;
    }
}

.header__logo {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;

    @media (max-width: $br1) {
        max-width: unset;
        width: unset;
    }
}

.header__switch-lang {
    width: fit-content;
}

.header__language {
    display: block;

    @media (max-width: $br1) {
        font-size: 18px;
    }
}

.header__language:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--bg);
    transform: scaleX(0);
    transition: transform .3s ease;
}

.header__language {
    &:hover:after {
        transform: scaleX(1);
    }
}

.header__menu {
    display: flex;
    @include col(6, 11);

    @media (max-width: $br1) {
        display: none;
    }
}

.header__item {
    margin-right: vw(62);

    &:nth-child(4) {
        margin-right: 0;
    }
}

.header__login {
    display: flex;
    align-items: center;
    justify-self: end;
    cursor: pointer;

    @media (max-width: $br1) {
        display: none;
    }
}

.login {
    border-bottom: 1px solid currentColor;
}

.header__info {
    text-transform: capitalize;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--bg);
        transform: scaleX(0);
        transition: transform .3s ease;
    }
}

.header__info {
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}


// ========burger-menu========


.header__burger {
    justify-self: flex-end;
    margin-left: auto;
    display: block;
    background: transparent;
    width: 40px;
    height: fit-content;
    transition: transform 0.7s ease;
    @include col(12, 12);

    &.active {
        transform: rotate(180deg);

        .burger__line--1 {
            transform: translateY(10px) rotate(45deg);
        }

        .burger__line--2 {
            opacity: 0;
        }

        .burger__line--3 {
            transform: translateY(-10px) rotate(-45deg);
        }
    }

    @media (min-width: $br1) {
        display: none;
    }

    @media (max-width: $br4) {
        @include col(4, 4);
    }
}

.burger__line {
    width: 100%;
    height: 2px;
    transition: opacity 0.5s ease, transform 0.5s ease, top 0.5s ease;
    background-color: var(--bg);
    display: block;

    +.burger__line {
        margin-top: 8px;
    }
}
