<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Template</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#131116" />
  <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <meta name="description" content="Template" />
  <meta property="og:title" content="Template" />
  <meta property="og:description" content="Template" />
  <!-- BEGIN styles -->
  <link rel="stylesheet" media="all" href="css/app.css" />
  <!-- END styles -->
</head>

<body>
  <header class="header">
    <div class="container header__container">
      <div class="grid header__content">
        <div class="header__logo">
          <img src="./img/logo.svg" alt="Logo" width="" height="">
        </div>
        <a href="#" class="header__language">En</a>
        <ul class="nav-menu header__menu">
          <li class="nav-item header__item">
            <a class="header__info" href="#">
              Products
            </a>
          </li>
          <li class="nav-item header__item">
            <a class="header__info" href="#">
              Platform
            </a>
          </li>
          <li class="nav-item header__item">
            <a class="header__info" href="#">
              Account type
            </a>
          </li>
          <li class="nav-item header__item">
            <a class="header__info" href="#">
              Who we are
            </a>
          </li>
        </ul>
        <div class="header__login">
          <a href="#">
            <span class="login">Login</span>
          </a>
          <span class="header__arrow-right">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.03401 8.98665L12.5932 8.98665L7.53842 13.8224C7.34071 14.0025 7.22881 14.2521 7.22881 14.5132C7.22881 14.7742 7.34071 15.0239 7.53842 15.2039C7.7267 15.393 7.98779 15.5 8.26081 15.5C8.53384 15.5 8.79493 15.393 8.98321 15.2039L15.6899 8.78939C16.1034 8.3374 16.1034 7.6626 15.6899 7.21061L8.9816 0.796051C8.79332 0.606998 8.53222 0.5 8.2592 0.5C7.98618 0.5 7.72509 0.606998 7.53681 0.796051H7.53681C7.3391 0.976094 7.2272 1.22575 7.2272 1.48682C7.2272 1.74789 7.3391 1.99755 7.53681 2.17759L12.5932 7.01258L1.03401 7.01258C0.755417 6.99643 0.482937 7.09523 0.285579 7.28395C0.0882177 7.47267 -0.0151024 7.73321 0.00178909 7.99962C-0.0151024 8.26601 0.0882177 8.52656 0.285576 8.71528C0.482937 8.904 0.755414 9.0028 1.03401 8.98665Z"
                fill="white" />
            </svg>
          </span>
        </div>
        <button class="header__burger">
          <span class="header__bar header__bar-first"></span>
          <span class="header__bar header__bar-second"></span>
          <span class="header__bar header__bar-third"></span>
          <span class="header__bar header__bar-fourth"></span>
        </button>
      </div>
    </div>
  </header>
  <section class="hero">
    <div class="container hero__container">

    </div>
  </section>

  <!-- BEGIN scripts -->
    <script src="./js/runtime-app.js"></script> 
    <script src="./js/app.js"></script>
    <!-- END scripts -->
</body>

</html>
