.about-3 {
    background-color: var(--bg);
    color: var(--black);
}

.about-3__title {
    font-size: vw(120);
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: vw(50);

    @media (max-width: $br1) {
        font-size: 48px;
        margin-bottom: 16px;
    }
}

.about-3__line {
    width: 100%;
    background-color: var(--black);
    height: 2px;
}

.about-3__content {
    margin-top: vw(32);

    @media (max-width: $br1) {
        margin-top: 36px;
    }

    @media (max-width: $br3) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.about-3__img-wrapper {
    @include col(1, 4);

    @media (max-width: $br1) {
        @include col(1, 6);
    }

    @media (max-width: $br3) {
        margin-top: 36px;
    }
}

.about-3__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.about-3__desc {
    @include col(6, 12);

    @media (max-width: $br1) {
        @include col(7, 12);
    }
}

.about-3__medium-text {
    font-size: vw(32);
    line-height: 1.2em;

    @media (max-width: $br1) {
        font-size: 24px;
    }
}

.about-3__text {
    font-size: vw(18);
    line-height: 1em;
    max-width: vw(385);
    margin-top: vw(32);

    @media (max-width: $br1) {
        font-size: 14px;
        line-height: 1.2em;
        max-width: 100%;
    }

    @media (max-width: $br3) {
        margin-top: 32px;
    }
}
