.about-4 {
    background-color: var(--bg);
    color: var(--black)
}

.about-4__block-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #828282;
    font-size: vw(16);
    line-height: 1em;
    padding: 6px 12px 4px;
    border: 1px solid #828282;
    border-radius: 32px;
    width: fit-content;
    height: fit-content;
    margin-bottom: vw(20);

    @media (max-width: $br1) {
        font-size: 16px;
        margin-bottom: 12px;
    }
}

.about-4__line {
    width: 100%;
    height: 2px;
    background-color: var(--black);
}

.about-4__content {
    margin-top: vw(50);
    margin-bottom: vw(154);

    @media (max-width: $br1) {
        margin-top: 16px;
        margin-bottom: 42px;
    }
}

.about-4__img {
    display: block;
    width: vw(60);
    height: vw(60);
    max-width: 100%;

    @media (max-width: $br1) {
        display: none;
    }
}

.about-4__text {
    @include col(6, 12);
    font-size: vw(36);
    line-height: 1.2em;

    @media (max-width: $br1) {
        font-size: 24px;
        @include col(1, 12);
    }
}
