.about-5 {
    background-color: var(--black);
    color: var(--bg);
    padding-top: vw(110);
    padding-bottom: vw(256);

    @media (max-width: $br1) {
        padding-top: 52px;
        padding-bottom: 52px;
    }
}

.about-5__img-wrapper {
    @include col(1, 4);
    height: auto;
    max-width: 100%;

    @media (max-width: $br1) {
        display: none;
    }

    @media (max-width: $br3) {
        @include col(1, 12);
        display: block;
        margin-bottom: 36px;
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.about-5__img {
    display: block;
    border-radius: 20px;
    height: auto;
    width: 100%
}

.about-5__content {
    @include col(6, 12);

    
    @media (max-width: $br1) {
        @include col(1, 12);
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.about-5__h2-text {
    font-size: vw(120);
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: vw(72);

    @media (max-width: $br1) {
        font-size: 48px;
        margin-bottom: 36px;
    }
}

.about-5__small-text {
    max-width: vw(550);
    font-size: vw(18);
    line-height: 1em;
    margin-bottom: vw(72);

    @media (max-width: $br1) {
        max-width: 100%;
        font-size: 14px;
        margin-bottom: 36px;
    }
}

.about-5__btns {
    display: flex;
    justify-content: space-between;
    max-width: vw(520);

    @media (max-width: $br1) {
        max-width: 520px;
    }

    @media (max-width: $br3) {
        flex-direction: column;
    }
}

.about-5__button {
    &:first-of-type {
        @media (max-width: $br3) {
            margin-bottom: 16px;
        }
    }
}

.text-button {}

.about-5__arrow {}
