.about-6 {
    background-color: var(--bg);
    color: var(--black)
}

.about-6__right-text {
    @include col(6, 12);

    @media (max-width: $br1) {
        @include col(1, 8);
    }

    @media (max-width: $br3) {
        @include col(1, 12);
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.about-6__h2-text {
    width: 101%;
    font-size: vw(120);
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;

    @media (max-width: $br1) {
        font-size: 48px;
    }
}

.about-6__indent-text {
    font-size: vw(36);
    line-height: 1.1em;
    text-indent: vw(144);
    max-width: vw(692);
    margin-top: vw(68);
    margin-bottom: vw(72);

    @media (max-width: $br1) {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 36px;
        text-indent: 0;
    }

    @media (max-width: $br3) {
        max-width: 100%;
    }
}

.about-6__card-wrapper {
    padding: vw(32);
    border: 1px solid var(--black);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:first-of-type {
        @include col(1, 4);
    }

    &:nth-of-type(2) {
        @include col(5, 8);
    }

    &:nth-of-type(3) {
        @include col(9, 12);
    }

    @media (max-width: $br1) {
        padding: 16px;

        &:first-of-type {
            @include col(1, 6);
        }
    
        &:nth-of-type(2) {
            @include col(7, 12);
        }
    
        &:nth-of-type(3) {
            @include row(2, 2);
            @include col(1, 6);
            margin-top: 24px;
        }
    }

    @media (max-width: $br3) {
        &:first-of-type {
            @include col(1, 12);
        }
    
        &:nth-of-type(2) {
            @include row(2, 2);
            @include col(1, 12);
            margin-top: 24px;
        }
    
        &:nth-of-type(3) {
            @include row(3, 3);
            @include col(1, 12);
        }
    }
}

.about-6__card-number {
    font-size: vw(36);
    line-height: 1.1em;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (max-width: $br1) {
        font-size: 20px;
    }
}

.about-6__card-title {
    font-size: vw(24);
    line-height: 1.1em;
    text-transform: uppercase;
    margin-bottom: vw(40);
    font-weight: 400;
    max-width: vw(374);

    @media (max-width: $br1) {
        font-size: 14px;
        margin-bottom: 20px;
    }

    @media (max-width: $br3) {
        max-width: 100%;
    }
}

.about-6__img-wrapper {
    display: block;
    max-width: 100%;
}

.about-6__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
