.contact-2 {
    background-color: var(--black);
    color: var(--bg);
    padding-top: vw(250);
    padding-bottom: vw(35);
    margin-top: 0;

    @media (max-width: $br1) {
        padding-top: 120px;
    }
}

.contact-2__top {
    @media (max-width: $br1) {
        display: block;
    }
}

.contact-2__big-text {
    @include col(1, 12);
    @include row(1, 1);
    font-size: vw(180);
    font-weight: 400;
    line-height: 1em;
    text-align: right;
    text-transform: uppercase;
    justify-self: end;
    position: relative;

    @media (max-width: $br1) {
        font-size: 48px;
        max-width: 450px;
        margin-left: auto;
    }
}

.contact-2__upper-text {
    @include col(1, 3);
    @include row(1, 1);
    font-size: vw(16);
    line-height: 1.1em;
    text-transform: uppercase;
    align-self: end;

    @media (max-width: $br1) {
        @include col(1, 12);
        @include row(2, 2);
        font-size: 14px;
        margin-top: 36px;
        max-width: 335px;
    }

    @media (max-width: $br4) {
        @include col(1, 4);
    }
}

.contact-2__medium {
    margin-top: vw(120);
    align-items: end;

    @media (max-width: $br1) {
        margin-top: 36px;
    }
}

.contact-2__img-wrapper {
    width: vw(60);
    height: vw(60);

    @media (max-width: $br1) {
        display: none;
    }
}

.contact-2__img {
    display: block;
    width: 100%;
    height: 100%;
}

.contact-2__button {
    &:first-of-type {
        @include col(6, 8);

        @media (max-width: $br1) {
            @include col(1, 12);
            margin-bottom: 16px;
        }
    }

    &:nth-of-type(2) {
        @include col(9, 12);

        @media (max-width: $br1) {
            @include row(2, 2);
            @include col(1, 12);
        }
    }
}

.contact-2__form-block {
    margin-top: vw(190);
    @include col(6, 11);

    @media (max-width: $br1) {
        @include col(1, 12);
        margin-top: 52px;
    }
}

.contact-2__form-h4 {
    font-size: vw(32);
    line-height: 1em;
    font-weight: 400;
    margin-bottom: vw(64);

    @media (max-width: $br1) {
        font-size: 28px;
        margin-bottom: 36px;
    }
}

.form {
    position: relative;
}

.form__inputs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: vw(20);
    row-gap: vw(64);
}

.form__input-wrapper {
    position: relative;
    width: 100%;
    color: var(--grey);
    text-transform: uppercase;
    font-size: 16px;

    &.active {
        >.label {
            transform: translateY(-14px);
            font-size: 10px;
            opacity: 0.7;
        }
    }

    &.error {
        >.label {
            color: #e73737;
        }

        >.input {
            border-bottom-color: #e73737;
        }

        >.form__input-error {
            opacity: 1;
            visibility: visible;
        }
    }

    &:first-of-type {
        @include col (1, 3);

        @media (max-width: $br1) {
            width: 92%;
        }

        @media (max-width: $br3) {
            @include col (1, 6);
            width: 100%;
        }
    }

    &:nth-of-type(2) {
        @include col (4, 6);

        @media (max-width: $br3) {
            @include col (1, 6);
            @include row (2, 2);
        }
    }

    &:nth-of-type(3) {
        @include row (2, 2);
        @include col (1, 6);

        @media (max-width: $br3) {
            @include col (1, 6);
            @include row (3, 3);
        }
    }
}

textarea {
    border: none;
    resize: none;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    padding-right: 20px;

    @media (max-width: $br1) {
        display: block;
    }
}

.input {
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid var(--bg);
    padding-bottom: 6px;
    padding-top: 3px;
    line-height: 1em;
    color: var(--bg);
    font-size: 16px;
}

.label {
    position: absolute;
    font-size: 16px;
    left: 0;
    top: 3px;
    line-height: 1em;
    pointer-events: none;
    transition: transform, opacity, font-size;
    transition-timing-function: ease;
    transition-duration: 0.3s;

    @media (max-width: 1280px) {
        font-size: 12px;
    }
}

.form__input-error {
    color: #e73737;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    margin-top: 4px;
    display: block;
}

abbr {
    color: #e73737;
    text-decoration: none !important;
}

.contact-2__btn {
    margin-left: auto;
    position: relative;
    margin-top: vw(48);
    display: block;
    background-color: transparent;
    border-radius: 50%;
    width: vw(50);
    height: vw(50);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--bg);
    padding: vw(15);

    @media (max-width: $br1) {
        margin-top: 36px;
        width: 50px;
        height: 50px;
        padding: 15px;
    }
}

.contact-2__btn-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: fill .5s ease;
    position: relative;
    z-index: 2;
}

.contact-2__bottom {
    margin-top: vw(110);

    @media (max-width: $br1) {
        margin-top: 98px;
    }

    @media (max-width: $br3) {
        display: block;
    }
}

.contact-2__year {
    @include col(1, 3);
    font-size: 14px;
    line-height: 1em;
    color: var(--grey);
}

.contact-2__by-emotion {
    display: block;
    @include col(4, 7);
    @include row(1, 1);
    font-size: 14px;
    line-height: 1em;
    color: var(--grey);

    @media (max-width: $br3) {
        margin-top: 12px;
    }
}

.contact-2__links {
    @include col(7, 12);
    @include row(1, 1);
    font-size: 14px;
    line-height: 1em;
    color: var(--grey);
    justify-self: end;
    display: flex;
    align-items: center;
    grid-gap: vw(20);
    gap: vw(20);

    @media (max-width: $br3) {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 8px;
        width: fit-content;
    }
}

//Reset autofill styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.01) inset;
    transition: background-color 5000s ease-in-out 0s;
}


.contact-2__block-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #828282;
    font-size: vw(16);
    line-height: 1em;
    padding: 6px 12px 4px;
    border: 1px solid #828282;
    border-radius: 32px;
    width: fit-content;
    height: fit-content;
    margin-bottom: vw(20);

    @media (max-width: $br1) {
        font-size: 16px;
        margin-bottom: 12px;
    }
}

.contact-2__line {
    width: 100%;
    height: 2px;
    background-color: var(--bg);
}
