.container {
    padding-left: size(120, 20);
    padding-right: size(120, 20);
    width: 100%;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;

    @media (max-width: $br4) {
        grid-template-columns: repeat(4, 1fr);
    }
}
